@import url('http://fonts.cdnfonts.com/css/roboto');
:root {
	--custom-blue: rgb(67, 175, 252);
}
* {
	font-family: 'Roboto', sans-serif;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #fafafa;
}
section.container {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid var(--custom-blue);
	border-radius: 5px;
	padding: 3rem;
}
form,
.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
img {
	width: 15%;
	height: auto;
	margin: 0 auto;
}
h2 {
	font-size: 2em;
	font-weight: bold;
	color: var(--custom-blue);
	text-align: center;
}

input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}
input:focus {
	outline: none;
	border-color: var(--custom-blue);
	box-shadow: 0 0 3px var(--custom-blue);
	-moz-box-shadow: 0 0 3px var(--custom-blue);
	-webkit-box-shadow: 0 0 3px var(--custom-blue);
}
input[type='submit'],
button {
	font-size: 1em;
	font-weight: bold;
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: var(--custom-blue);
	margin-top: 2rem;
}
input[type='submit']:hover,
button:hover {
	cursor: pointer;
	background-color: var(--custom-blue);
	color: white;
	animation: button-hover 1s;
}
@keyframes button-hover {
	0% {
		background-color: white;
	}
	100% {
		background-color: var(--custom-blue);
	}
}

::placeholder {
	color: var(--custom-blue);
	text-align: center;
}
.alert {
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	color: red;
	text-align: center;
	animation: alert-animation 3s;
}
@keyframes alert-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
