.form {
	max-width: 800px;
	margin: 0 auto;
}

textarea,
select,
input {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	display: block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #3f8db5;
	padding: 10px 15px;
	margin-top: 15px;
	font-size: 14px;
}

.label,
section > label {
	line-height: 2;
	text-align: left;
	display: block;
	margin-bottom: 13px;
	margin-top: 20px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 200;
}

input[type='submit'],
.button {
	position: relative;
	background: #3f8db5;
	color: white;
	text-transform: uppercase;
	border: none;
	font-weight: 600;
	margin-top: 20px;
	padding: 20px;
	font-size: 16px;
	letter-spacing: 2px;
	display: block;
	appearance: none;
	border-radius: 4px;
	width: 100%;
	font-weight: 400;
	letter-spacing: 0.5rem;
	transition: 0.3s all;
}

.counter {
	font-weight: 400;
	background: white;
	color: rgb(0, 0, 0);
	padding: 10px 15px;
	border-radius: 4px;
	position: fixed;
	top: 20px;
	right: 30px;
	z-index: 9999999;
}

input[type='submit']:hover {
	background: #2c627e;
	color: white;
}

input[type='submit']:active {
	transition: 0.3s all;
	top: 2px;
}

.preact {
	opacity: 0;
	color: white;
}

.preact:hover {
	opacity: 1;
}
